.StaffGrid {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  gap: 5vw;
}

.member-wrapper {
  height: 100%;
  width: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: lightskyblue;
  border-radius: 1rem;
}

.member-wrapper p {
  margin: 2vw 4vw;
  text-align: justify;
  color: #0e54a4;
  font-weight: 400;
  font-size: 2vw;
}

.member-wrapper .about {
  text-indent: 3%;
}

.member-wrapper h3 {
  color: #0e54a4;
  font-size: 3vw;
}

.member-info {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  height: 30vw;
  width: auto;
  margin: 0 3vw;
  border-radius: 50rem;
}

@media screen and (min-width: 600px) {
  .StaffGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .member-wrapper {
    flex-direction: column;
  }

  .member-wrapper h3 {
    font-size: 2vw;
  }

  .member-wrapper p {
    font-size: 1.2vw;
    margin: 1vw 2vw;
  }

  .photo {
    height: 15vw;
    margin-top: 1vw;
  }
}

@media screen and (min-width: 1000px) {
  .StaffGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .member-wrapper h3 {
    font-size: 1.5vw;
  }

  .member-wrapper p {
    font-size: 0.7vw;
    margin: 0.5vw 1vw;
  }

  .photo {
    height: 10vw;
  }
}
