html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.NossaEquipe {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .NossaEquipe h1 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1000px) {
  .NossaEquipe h1 {
    font-size: 3vw;
  }
}
