html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Contato {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.Contato_main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 3vw;
  margin-bottom: 1vw;
}

.Contato_main p {
  text-align: center;
  font-size: 5vw;
  border-radius: 10px;
  margin: 2vw 5vw;
  color: #0e54a4;
}

.Contato_main img {
  margin: 2vw 5vw;
  width: auto;
  height: 10vw;
}

.contato_whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightskyblue;
  border-radius: 15px;
  margin: 0 5vw;
}

.contato_instagram {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightskyblue;
  border-radius: 15px;
  margin: 0 5vw;
}

.contato_email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: lightskyblue;
  align-items: center;
  margin: 0 5vw;
}

.contato_telefone {
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 0 5vw;
}

.footer-div {
  margin-bottom: 10px;
  margin-top: auto;
}

@media screen and (min-width: 600px) {
  .Contato_main {
    gap: 1.5vw;
  }

  .Contato_main p {
    font-size: 2vw;
    margin: 0vw 5vw;
  }

  .Contato_main img {
    height: 5vw;
    margin-bottom: 2vw;
  }

  .contato_whatsapp {
    margin: 0 15vw;
  }

  .contato_instagram {
    margin: 0 15vw;
  }

  .contato_email {
    margin: 0 15vw;
  }

  .contato_telefone {
    margin: 0 15vw;
  }
}

@media screen and (min-width: 1000px) {
  .Contato_main {
    gap: 1vw;
  }

  .Contato_main p {
    font-size: 1.5vw;
    margin: 0 5vw;
  }

  .Contato_main img {
    height: 3vw;
    margin: 1vw 0;
  }

  .contato_whatsapp {
    margin: 0 30vw;
  }

  .contato_instagram {
    margin: 0 30vw;
  }

  .contato_email {
    margin: 0 30vw;
  }

  .contato_telefone {
    margin: 0 30vw;
  }
}
