html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Contato {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.Contato_main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 3vw;
}

.Contato_main p {
  text-align: center;
  font-size: 5vw;
  border-radius: 10px;
  margin: 2vw 5vw;
  color: #0e54a4;
}

.Contato_main img {
  margin: 2vw 5vw;
  width: auto;
  height: 10vw;
}

.contato_whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightskyblue;
  border-radius: 15px;
  margin: 0 5vw;
}

.contato_instagram {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightskyblue;
  border-radius: 15px;
  margin: 0 5vw;
}

.contato_email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: lightskyblue;
  align-items: center;
  margin: 0 5vw;
}

.contato_telefone {
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin: 0 5vw;
}

.footer-div {
  margin-bottom: 10px;
  margin-top: auto;
}
