html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.AgendeUmaVisita {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AgendeUmaVisita_h1 {
  margin-bottom: 0.6rem;
  text-align: center;
  font-size: 4rem;
  color: salmon;
}

a {
  color: unset;
  text-decoration: none;
}

.tabela-visitas table,
th,
td {
  border: 1px solid white;
}

.tabela-visitas th,
td {
  color: white;
  background-color: #0e54a4;
  font-size: 1.5rem;
  width: 13rem;
  height: 4rem;
  text-align: center;
}

.AgendeUmaVisita_mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AgendeUmaVisita_mainContent p {
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 320px) {
  .AgendeUmaVisita_h1 {
    font-size: 2rem;
  }

  .tabela-visitas th,
  td {
    font-size: 0.6rem;
  }

  .AgendeUmaVisita_mainContent p {
    font-size: 1rem;
  }
}
