html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.AgendeUmaVisita {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AgendeUmaVisita_h1 {
  margin-bottom: 10px;
  font-size: 52px;
  color: salmon;
}

a {
  color: unset;
  text-decoration: none;
}

.footer-div {
  margin-bottom: 10px;
  margin-top: auto;
}

.tabela-visitas table,
th,
td {
  border: 1px solid white;
}

.tabela-visitas th,
td {
  color: white;
  background-color: #0e54a4;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.AgendeUmaVisita_mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 24px;
}
