html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.AgendeUmaVisita {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.tabela-visitas table,
th,
td {
  border: 0.1vw solid white;
}

.tabela-visitas th,
td {
  color: white;
  background-color: #0e54a4;
  font-size: 2.5vw;
  width: auto;
  height: auto;
  padding: 3vw 6vw;
  text-align: center;
}

.AgendeUmaVisita_mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .AgendeUmaVisita_h1 {
    font-size: 5vw;
  }

  .tabela-visitas th,
  td {
    font-size: 2vw;
    padding: 2vw 4vw;
  }
}

@media screen and (min-width: 1000px) {
  .AgendeUmaVisita_h1 {
    font-size: 3vw;
  }

  .tabela-visitas th,
  td {
    font-size: 1vw;
    padding: 1vw 2vw;
  }
}
