body {
  flex-direction: column;
  font-family: var(--font-family);
}

.NossaProposta {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.NossaProposta_h1 {
  margin-bottom: 1vw;
  font-size: 10vw;
  text-align: center;
  color: salmon;
}

.NossaProposta_main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .NossaProposta_h1 {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1000px) {
  .NossaProposta_h1 {
    font-size: 3vw;
  }
}
