body {
  flex-direction: column;
  font-family: var(--font-family);
}

.NossaProposta {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.NossaProposta_main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  justify-content: center;
  margin: 0vw 5vw;
}

@media screen and (min-width: 600px) {
  .NossaProposta_main {
    margin: 0vw 20vw;
  }
}

@media screen and (min-width: 1000px) {
}
