.caliandra__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.caliandra__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caliandra__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.caliandra__navbar-links_container p {
    color: #0E54A4;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    transition: all .1s ease-in-out; 
    
    margin: 0 1rem;
    cursor: pointer
}

.caliandra__navbar-links_container p:hover {
    transform: scale(1.2);
}