body {
  flex-direction: column;
  font-family: var(--font-family);
}

.NossoEspaco {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.NossoEspaco_h1 {
  margin-bottom: 0;
  font-size: 52px;
  text-align: center;
  color: salmon;
}

.NossoEspaco_p {
  text-indent: 3%;
  font-size: 24px;
  text-align: justify;
  word-wrap: break-word;
}

.NossoEspaco_main {
  display: grid;
  column-gap: 50px;
  margin: 50px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

img {
  width: 100%;
}

.footer-div {
  margin-bottom: 10px;
  margin-top: auto;
}
