body {
  font-family: var(--font-family);
}

.NossoEspaco {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.NossoEspaco_h1 {
  margin-bottom: 0;
  font-size: 4rem;
  text-align: center;
  color: salmon;
}

.NossoEspaco_p {
  text-indent: 3%;
  font-size: 1.5rem;
  text-align: justify;
  word-wrap: break-word;
}

.NossoEspaco_main {
  display: grid;
  column-gap: 3rem;
  margin: 0 3rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

img {
  width: 100%;
}

.footer-div {
  margin-bottom: 10px;
  margin-top: auto;
}

@media screen and (max-width: 1000px) {
  .NossoEspaco_h1 {
    font-size: 3rem;
  }

  .NossoEspaco_main {
    display: flex;
    flex-direction: column;
    column-gap: normal;
    margin: 1rem;
    gap: 1rem;
  }

  .NossoEspaco_p {
    font-size: 1rem;
  }
}
