html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}

.App {
  display: flex;
  flex: 1;
}

.home-page_main {
  display: flex;
  flex: 1;
  gap: 1vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}

.home-page_main p {
  font-size: 0.6rem;
  text-indent: 5%;
  text-align: justify;
  margin: 5vw;
}

.home-page_main img {
  height: auto;
  width: 20%;
}

.footer-div {
  margin-top: auto;
}

@media screen and (min-width: 600px) {
  .home-page_main img {
    width: 10%;
  }

  .home-page_main h1 {
    font-size: 5vw;
  }

  .home-page_main p {
    margin: 0 5vw;
  }
}

@media screen and (min-width: 1000px) {
  .home-page_main img {
    width: 5%;
  }

  .home-page_main h1 {
    font-size: 3vw;
  }

  .home-page_main p {
    margin: 0 20vw;
    font-size: 1.6vw;
  }
}
