.caliandra__header {
  padding: 1rem 0;
  width: 100%;
}

.caliandra__header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 5rem;
}

@media screen and (min-width: 321px) {
  .caliandra__header-img {
    height: 6rem;
  }
}

@media screen and (min-width: 376px) {
  .caliandra__header-img {
    height: 7rem;
  }
}

@media screen and (min-width: 426px) {
  .caliandra__header-img {
    height: 8rem;
  }
}

@media screen and (min-width: 769px) {
  .caliandra__header-img {
    height: 10rem;
  }
}

@media screen and (min-width: 1025px) {
  .caliandra__header-img {
    height: 12rem;
  }
}

@media screen and (min-width: 1441px) {
  .caliandra__header-img {
    height: 20rem;
  }
}
