.caliandra__header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.caliandra__header-background {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}