.caliandra__header {
  padding: 2vh;
  width: 100%;
}

.caliandra__header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 25vh;
}

@media screen and (max-width: 320px) {
  .caliandra__header-img {
    height: 5rem;
  }

  .caliandra__header {
    padding: 1rem 0;
  }
}
