.caliandra__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.caliandra__footer img {
  height: 10vw;
  width: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.caliandra__footer img:hover {
  transform: scale(1.4);
}

@media screen and (min-width: 600px) {
  .caliandra__footer {
    margin-bottom: 0;
  }

  .caliandra__footer img {
    height: 7vw;
  }
}

@media screen and (min-width: 1000px) {
  .caliandra__footer {
    margin-bottom: 0;
  }

  .caliandra__footer img {
    height: 4vw;
  }
}
