* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.4;
  background: #fff;
  color: #444;
}

.Accordion {
  list-style: none;
  width: 100%;
}

.accordion_item {
  border-top: 0.1rem solid #9f9f9f;
}

.button {
  font-size: 5vw;
  background-color: #0e54a4;
  color: #fff;
  font-weight: 700;
  display: flex;
  width: 100%;
  padding: 1.5rem 1rem;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #4588d4;
}

.control {
  font-size: 5vw;
  margin-left: auto;
}

.text {
  text-align: justify;
  font-size: 3vw;
  padding: 1vw 5vw;
  text-indent: 5%;
}

.accordion_item.active .button {
  background-color: #4588d4;
}
.answer_wrapper {
  height: 0;
  word-wrap: break-word;
  overflow: hidden;
  transition: height ease 0.2s;
}
.answer_wrapper.open {
  height: auto;
}

@media screen and (min-width: 600px) {
  .button {
    font-size: 3vw;
  }

  .control {
    font-size: 3vw;
  }

  .text {
    font-size: 2vw;
    padding: 1vw 15vw;
  }
}

@media screen and (min-width: 1000px) {
  .button {
    font-size: 2vw;
  }

  .control {
    font-size: 2vw;
  }

  .text {
    font-size: 1.3vw;
    padding: 1vw 20vw;
  }
}
